<div class="employee__table-wrapper mat-elevation-z8">
  <table mat-table [dataSource]="employees" class="employee-table">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let record" class="actions-cell">
        <span *ngIf="!record.editing && !editMode" class="table-icon record-edit-icon" (click)="edit(record)">
          <i class="edit-icon material-icons">edit</i>
        </span>
        <span *ngIf="!record.editing && !editMode" class="table-icon record-details-icon">
          <i class="edit-icon material-icons">open_in_new</i>
        </span>
        <span *ngIf="record.editing" class="table-icon record-cancel-icon" (click)="cancel(record)">
          <i class="edit-icon material-icons">cancel</i>
        </span>
        <span *ngIf="record.editing" class="table-icon record-save-icon" (click)="save(record)">
          <i class="edit-icon material-icons">save</i>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let record">
        <span>{{record.title}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef> Division </th>
      <td mat-cell *matCellDef="let record"> {{record.division}} </td>
    </ng-container>

    <ng-container matColumnDef="project_owner">
      <th mat-header-cell *matHeaderCellDef> Project Owner </th>
      <td mat-cell *matCellDef="let record">
        <span *ngIf="!record.editing">{{record.project_owner}}</span>
        <mat-form-field class="record-edit record-dropdown-edit" *ngIf="record.editing">
          <mat-select placeholder="Project Owner" [(value)]="record.project_owner">
            <mat-option value="Kevin Snyder">Kevin Snyder</mat-option>
            <mat-option value="Eugene Brown">Eugene Brown</mat-option>
            <mat-option value="Killgore Trout">Killgore Trout</mat-option>
            <mat-option value="Richard Henry">Richard Henry</mat-option>
            <mat-option value="Michelle Webb">Michelle Webb</mat-option>
            <mat-option value="James Holden">James Holden</mat-option>
            <mat-option value="Nicole Smith">Nicole Smith</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef> Budget </th>
      <td mat-cell *matCellDef="let record">
        <span *ngIf="!record.editing">$ {{record.budget}}</span>
        <mat-form-field class="record-edit record-input-edit" *ngIf="record.editing">
          <span>$</span><input matInput placeholder="Budget" [ngModel]="record.budget" (ngModelChange)="record.budget = $event">
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let record">
        <span *ngIf="!record.editing">{{record.status}}</span>
        <mat-form-field class="record-edit record-dropdown-edit" *ngIf="record.editing">
          <mat-select placeholder="Status" [(value)]="record.status">
            <mat-option value="archived">archived</mat-option>
            <mat-option value="new">new</mat-option>
            <mat-option value="working">working</mat-option>
            <mat-option value="delivered">delivered</mat-option>
          </mat-select>
        </mat-form-field>
      </td>


    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef> Created </th>
      <td mat-cell *matCellDef="let record"> {{record.created}} </td>
    </ng-container>

    <ng-container matColumnDef="modified">
      <th mat-header-cell *matHeaderCellDef> Modified </th>
      <td mat-cell *matCellDef="let record"> {{record.modified}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'row-edit': row.editing}"></tr>
  </table>
</div>
