@import '~src/app/variables';

.employee__table-wrapper {
    height: calc(100vh - 300px);
    margin-top: 1em;
    overflow: auto;
    padding: 0 1em;
    .employee-table {
        width: 100%;

        .mat-cell {
            min-width: 110px;
        }

        .actions-cell {
            min-width: 100px;
        }

        .table-icon {
            margin-right: .5em;
        }

        .record-edit-icon {
            color: $blue;
        }

        .record-details-icon {
            color: #3f3f3f;
        }

        .record-cancel-icon {
            color: $red;
        }

        .record-save-icon {
            color: $blue;
        }

        .row-edit {
            background-color: #f2f2ff;
        }

        .table-icon {
            *::selection { background-color: transparent; }
            cursor: pointer;
        }

        .record-edit {
            width: 110px;
            margin-bottom: -10px;
            margin-top: -3px;
            ::ng-deep .mat-form-field-label-wrapper {
                display: none;
            }

        }

        .record-input-edit {
            ::ng-deep .mat-form-field-infix input {
                width: calc(100% - 10px);
                padding-left: 5px;
            }
        }
    }
}