.filters {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    
    .filter {
        margin: 0 0 .5em;
        width: 100%;
        .filter__label {
            margin: 0;
        }
    }

    .budget__filter {
        display: flex;
        .budget__filter-op-select {
            flex-shrink: 0;
            flex-grow: 0;
            width: 50px;
            margin-right: 1em;
            ::ng-deep .mat-select-value {
                text-align: center;
            }
        }
        .budget__filter-input {
            flex-shrink: 0;
            flex-grow: 0;
            width: 120px;
        }
    }

    .date-picker {
        width: 100px;
        margin: 0 .25em;
    }
}