<div class="filters">
  <div class="filter">
    <mat-form-field>
      <input matInput placeholder="Title" (keyup)="filter('title', $event.target.value)">
    </mat-form-field>
  </div>
  
  <div class="filter">
    <mat-form-field>
      <mat-select placeholder="Division" (selectionChange)="filter('division', $event.value)">
        <mat-option>None</mat-option>
        <mat-option value="Accounting">Accounting</mat-option>
        <mat-option value="Administration">Administration</mat-option>
        <mat-option value="Marketing">Marketing</mat-option>
        <mat-option value="Production">Production</mat-option>
        <mat-option value="Sales">Sales</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="filter">
    <mat-form-field>
      <mat-select placeholder="Project Owner" (selectionChange)="filter('project_owner', $event.value)">
        <mat-option>None</mat-option>
        <mat-option value="Kevin Snyder">Kevin Snyder</mat-option>
        <mat-option value="Eugene Brown">Eugene Brown</mat-option>
        <mat-option value="Killgore Trout">Killgore Trout</mat-option>
        <mat-option value="Richard Henry">Richard Henry</mat-option>
        <mat-option value="Michelle Webb">Michelle Webb</mat-option>
        <mat-option value="James Holden">James Holden</mat-option>
        <mat-option value="Nicole Smith">Nicole Smith</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="filter budget__filter">
    <mat-form-field class="budget__filter-op-select">
      <mat-select [value]="budgetFilterOperator" (selectionChange)="filter('budgetFilterOperator', $event.value)">
        <mat-option [value]="BudgetFilterOperatorList.GreaterThan">></mat-option>
        <mat-option [value]="BudgetFilterOperatorList.LessThan">
          <</mat-option> <mat-option [value]="BudgetFilterOperatorList.EqualTo">=
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="budget__filter-input">
      <input matInput placeholder="Budget" (keyup)="filter('budget', $event.target.value)">
    </mat-form-field>
  </div>
  
  <div class="filter">
    <mat-form-field>
      <mat-select placeholder="Status" (selectionChange)="filter('status', $event.value)">
        <mat-option>None</mat-option>
        <mat-option value="archived">archived</mat-option>
        <mat-option value="new">new</mat-option>
        <mat-option value="working">working</mat-option>
        <mat-option value="delivered">delivered</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="filter">
    <div>
      <p class="filter__label">Created:</p>
      <mat-form-field class="date-picker">
        <input matInput [matDatepicker]="createdFrom" placeholder="From"
          (dateChange)="filter('createdFrom', $event.value)">
        <mat-datepicker-toggle matSuffix [for]="createdFrom"></mat-datepicker-toggle>
        <mat-datepicker #createdFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="date-picker">
        <input matInput [matDatepicker]="createdTo" placeholder="To" (dateChange)="filter('createdTo', $event.value)">
        <mat-datepicker-toggle matSuffix [for]="createdTo"></mat-datepicker-toggle>
        <mat-datepicker #createdTo></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  
  <div class="filter">
    <div>
      <p class="filter__label">Modified:</p>
      <mat-form-field class="date-picker">
        <input matInput [matDatepicker]="modifiedFrom" placeholder="From"
          (dateChange)="filter('modifiedFrom', $event.value)">
        <mat-datepicker-toggle matSuffix [for]="modifiedFrom"></mat-datepicker-toggle>
        <mat-datepicker #modifiedFrom></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="date-picker">
        <input matInput [matDatepicker]="modifiedTo" placeholder="To" (dateChange)="filter('modifiedTo', $event.value)">
        <mat-datepicker-toggle matSuffix [for]="modifiedTo"></mat-datepicker-toggle>
        <mat-datepicker #modifiedTo></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>