<div class="dashboard">
  <div class="header">
    <div class="left">
      <h3 class="header__title">Project Dashboard</h3>
    </div>
  </div>
  <div class="body">
    <div class="body__left">
      <div class="filters">

        <div class="body__header">
          <h3 class="body__title">Filters</h3>
        </div>

        <div class="filters__body">
          <app-filters
            [budgetFilterOperator]="budgetFilterOperator"
            [BudgetFilterOperatorList]="BudgetFilterOperatorList"
            (filterChanged)="filter($event.field, $event.value)">
          </app-filters>
        </div>
      </div>
    </div>
    <div class="body__right">
      <div class="top">
        <div class="top__wrapper">
          <div class="body__header">
            <h3 class="body__title">Overview</h3>
          </div>
          <app-overview
            [employeeMetrics]="employeeMetrics">
          </app-overview>
        </div>
      </div>
      <div class="bottom">
        <div class="body__header">
          <div class="body__header--left">
            <h3 class="body__title">Employee Records</h3>
          </div>
          <div class="body__header--right">
            <div class="total">
              <span>Total rows: {{ employees?.length }}</span>
            </div>
            <div class="controls">
              <button mat-stroked-button [matMenuTriggerFor]="exportMenu" class="control-button export-button">
                <i class="control-icon material-icons">cloud_download</i>
                Export
              </button>
              <mat-menu #exportMenu="matMenu">
                <button mat-menu-item>Excel</button>
                <button mat-menu-item>Pdf</button>
              </mat-menu>
              <button mat-stroked-button color="primary" class="control-button add-button">
                <i class="control-icon material-icons">note_add</i>
                Add
              </button>
            </div>
          </div>
        </div>
      <app-grid
        [employees]="employees"
        [displayedColumns]="displayedColumns"
        (editClicked)="edit($event)"
        (saveClicked)="save($event)"
        (cancelClicked)="cancel($event)"
      ></app-grid>
    </div>
  </div>
</div>
