@import '~src/app/variables';

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #494949;
}

.header {
    width: 100%;
    height: 40px;
    background-color: $darkGray;
    color: white;
    display: flex;
    .left {
        display: flex;
        align-items: center;
    }
    .header__title {
        margin: 0;
        padding-left: .5em;
    }
}

.body {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
    max-width: 1000px;

    .body__header {
        display: flex;
        padding: 0 .5em;
        .body__header--left {
            display: flex;
            width: 50%;
            flex-grow: 1;
        }
        .body__header--right {
            display: flex;
            flex-grow: 1;
            width: 50%;
            justify-content: flex-end;
            padding-right: 1em;
            width: 100%;
            .total {
                display: flex;
                align-items: center;
                margin-right: 1em;
            }
            .controls {
                display: flex;
                align-items: center;
                .control-button {
                    display: flex;
                    align-items: center;
                    margin-left: 1em;
                    &.add-button {
                        color: $blue;
                    }
                }
                .control-icon {
                    font-size: 1.2rem;
                    margin-top: -2px;
                }
            }
        }
        .body__title {
            margin: 0 0 .5em;
            color: $teal;
        }
    }

    .body__left {
        padding-top: 1em;
        flex-shrink: 0;
        height: calc(100vh - 40px);
        overflow: auto;
        .filters {
            .filters__body {
                display: flex;
                flex-direction: column;
                padding: 0 1em;
            }
        }
    }
    .body__right {
        width: 100%;
        padding-left: 1em;

        .top {
            height: 170px;
            padding: 1em 0;
            display: flex;
            
            .top__wrapper {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 1em;
        }
    }
}
