/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
    overflow: auto;
}
body {
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    min-width: 1100px;
}
* {
    box-sizing: border-box;
}