<div class="overview">
  <div class="box" *ngFor="let item of employeeMetrics | keyvalue; let i = index;">
    <div class="box__header">
      <span>{{ item.key }}</span>
    </div>
    <div class="box__content">
      <span>{{ item.value | currency }}</span>
    </div>
  </div>
</div>