.overview {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 1em 0;
}

.box {
    padding: 1em;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
    margin: 0 1em;
    text-align: center;
    .box__header {
        margin-bottom: .5em;
    }
    .box__content {
        font-size: 1.5rem;
    }
}